<h2><%= @post_message %></h2>

<a href="/beach?location=west">Search West Beach</a>
<a href="/beach?location=east">Search East Beach</a>
<a href="/beach?location=tarantula">DO NOT CLICK HERE</a>
<a href="/">Head Back to the Main Beach</a>